#show-subject-info {
  border: 1px solid black;
  padding: 0.5rem;
}

/* LAYOUT DOS FORMULARIOS */

input {
  background-color: #1e2125;
  /*color: #292E33;*/
  color: white;
  border: none;
  border-bottom: 3px solid #21e6c1;
  padding-top: 15px;
  font-size: 20px;
  width: 300px;
}

.marginFormularios button{
  margin-top: 10px;
  background: #21e6c1;
  border: none;
  border-radius: 3.5em;
  padding: 5px 15px;
}

.marginFormularios button:hover{
  background: rgb(23, 165, 139);
}

.marginFormularios{
  margin-top: 140px;
}

#adicionarMateria button {
  background: #424651;
  color: white;
}

#adicionarMateria button:hover {
  background: #33363f;
}

select {
  background: #21e6c1;
  margin-top: 10px;
  border-radius: 3.5em;
  padding: 7px 15px;
  margin-bottom: 25px;
}

input.search {
  background: #21e6c1;
  border-top-left-radius: 3.5em;
  border-bottom-left-radius: 3.5em;
  padding: 4px 15px;
  width: 200px;
  border: none;
}

.bordaBotaoPesquisa {
  border: none;
  border-top-right-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
}

/* TABLE STYLE */
/*
table thead tr th,
table tbody tr td {
  padding: 0.6rem 2.5rem;
}*/

table{
  background: #424651;
  width: 100%;
  min-width: 426px;
  text-align: center;
}

td, th{
  text-align: center;
}

.encimaTabela table{
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

table thead tr th{
  padding: 5px 10px;
}

table tbody tr td{
  padding: 10px 0px 10px 20px;
  max-width: 50px;
}

th{
  background: #21E6C1;
  color: rgb(57, 58, 58);
  text-align: center;
}

tr:hover{
  background: #2f323a;
}

tbody{
  cursor: pointer;
}

.borderLeft{
  border-top-left-radius: 2em;
}

.borderRight{
  border-top-right-radius: 2em;
}

.encimaTabela{
  width: 92%;
  min-width: 430px;
}

.abaixoTabela{ /* width: 491px*/
  background: #21E6C1;
  color: #21E6C1;
  width: 92%;
  height: 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  min-width: 426px;
}

.abaixoTabelaProfessor{ /* width: 491px*/
  min-width: 416px;
}

.abaixoTabelaAluno{
  min-width: 435px;
}

/* Button Add Above Table*/
.btn-add{
  background: #21e6c1;
  border: none;
  border-radius: 1em;
  font-size: 22px;
  padding: 0 16px;
  position: relative;
  bottom: -50px;
  left: -50px;
}

#teste button:hover{
  background: #1bbb9e;
}

/* Button Remove Above Table*/
.btn-trash{
  background: #F34E4E;
  border: none;
  border-radius: 1em;
  font-size: 22px;
  padding: 0 20px;
  position: relative;
  left: -70px;
  bottom: -50px;
}

.position{
  position: absolute;
  left: 470px;
  bottom: 50px;
}

.btn-trash-hover button:hover{
  background: rgb(156, 50, 50);
}

/**/
.tituloAlunos{
  color: #21e6c1;
  font-size: 20px;
  position: absolute;
  left: 270px;
  bottom: 50px;
}

.input-group{
  max-width: 280px;
}

#alunos{
  margin-top: -40px;
}
/*
.buttonSelected{
  color: rgb(241, 20, 57);
}

.btnDelete{
  color: #F34E4E;
  margin-left: auto;
  border: none;
  background: none;
  margin-left: 45px;
}*/

.scrollTabela{
  width: 92%;
  min-width: 426px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: auto;
  background: #424651;
}

.testeBtnSelected{
  color: yellow;
}

.back button{
  background: none;
  border: none;
  color: #21e6c1;
}

.back button:hover{
  color: #16917a;
}

#materiaDados{
  min-width: 1270px;
}

#materiaDadosDireita{
  margin-top: 100px;
  border: 1px solid red;
}