#show-subject-info {
  border: 1px solid black;
  padding: 0.5rem;
}

button {
  cursor: pointer;
}

header button {
  display: block;
  border: none;
  background: #292e33;
  font-size: 22px;
  color: #bfc0c2;
  padding-top: 15px;
}

/* Tirar a borda do Botao de quando ele era pressionado */
button:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

select:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

input:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background: #1e2125;
  color: white;
}

header {
  background: #292e33;
  width: 300px;
  height: 100%;
  -webkit-border-top-right-radius: 3.5em;
  -webkit-border-bottom-right-radius: 3.5em;
  -moz-border-top-right-radius: 3.5em;
  -moz-border-bottom-right-radius: 3.5em;
  border-top-right-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
  margin-right: 20px;
}

section {
  padding-top: 40px;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

h5 {
  color: #21e6c1;
  opacity: 0.5;
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

.container-fluid{
  min-width: 1200px;
}

/* Menu lateral */
#menu-lateral {
  margin-left: 20px;
  padding-top: 25px;
}

/* ICONES DA NAVEGAÇÃO */
.icones-menu {
  font-size: 25px;
  color: #258a7a;
  padding-right: 15px;
  padding-left: 2px;
}

.icone-fdp { /* icone das materias */
  font-size: 30px;
  padding-left: 9px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  padding-top: 20px;
  font-size: 22px;
}

ul a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  color: #bfc0c2;
}

/* Area da foto */
#foto {
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  float: left;
}

.usuario {
  color: white;
  font-size: 1em;
  float: left;
  margin-top: 7px;
  margin-left: 13px;
}

.facul {
  font-size: 0.8em;
  color: #21e6c1;
  float: left;
  margin-top: -30px;
  margin-left: 72px;
  margin-bottom: 30px;
}

.icone-foto {
  position: relative;
  top: 7px;
}

#foto a {
  color: black;
}

#foto a:hover {
  color: black;
}

/* LAYOUT DOS FORMULARIOS */

input {
  background-color: #1e2125;
  /*color: #292E33;*/
  color: white;
  border: none;
  border-bottom: 3px solid #21e6c1;
  padding-top: 15px;
  font-size: 20px;
  width: 300px;
}

.marginFormularios button{
  margin-top: 10px;
  background: #21e6c1;
  border: none;
  border-radius: 3.5em;
  padding: 5px 15px;
}

.marginFormularios button:hover{
  background: rgb(23, 165, 139);
}

.marginFormularios{
  margin-top: 140px;
}

#adicionarMateria button {
  background: #424651;
  color: white;
}

#adicionarMateria button:hover {
  background: #33363f;
}

select {
  background: #21e6c1;
  margin-top: 10px;
  border-radius: 3.5em;
  padding: 7px 15px;
  margin-bottom: 25px;
}

input.search {
  background: #21e6c1;
  border-top-left-radius: 3.5em;
  border-bottom-left-radius: 3.5em;
  padding: 4px 15px;
  width: 200px;
  border: none;
}

.bordaBotaoPesquisa {
  border: none;
  border-top-right-radius: 3.5em;
  border-bottom-right-radius: 3.5em;
}

/* TABLE STYLE */

table thead tr th,
table tbody tr td {
  padding: 0.6rem 2.2rem;
}

table{
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
  background: #424651;
  width: 92%;
}

th{
  background: #21E6C1;
  color: rgb(57, 58, 58);
  text-align: center;
}

tr:hover{
  background: #2f323a;
}

tbody{
  cursor: pointer;
}

.borderLeft{
  border-top-left-radius: 2em;
}

.borderRight{
  border-top-right-radius: 2em;
}

.abaixoTabela{ /* width: 491px*/
  background: #21E6C1;
  color: #21E6C1;
  width: 91.9%;
  height: 20px;
  border-bottom-left-radius: 2em;
  border-bottom-right-radius: 2em;
  min-width: 426px;
}

.abaixoTabelaProfessor{ /* width: 491px*/
  min-width: 416px;
}

.abaixoTabelaAluno{
  min-width: 435px;
}

/* Button Add Above Table*/
.btn-add{
  background: #21e6c1;
  border: none;
  border-radius: 1em;
  font-size: 22px;
  padding: 0 16px;
  position: relative;
  bottom: -50px;
  left: -50px;
}

#teste button:hover{
  background: #1bbb9e;
}

.input-group{
  max-width: 280px;
}

#alunos{
  margin-top: -40px;
}

.buttonSelected{
  color: rgb(241, 20, 57);
}
